In [2]:
#python library for analysing, cleaning, exploring and manipulating data 
#statistical analysis

import pandas as pd

In [42]:
#DF should be capital in DataFrame

mydata = {
    'Students': ['sowmya','karnati','tharun','yoshitha'],
    'Grades': [3.5,4,3.5,4]
}

df = pd.DataFrame(mydata)
print(df)

   Students  Grades
0    sowmya     3.5
1   karnati     4.0
2    tharun     3.5
3  yoshitha     4.0

In [43]:
#creating Labels

#since no labelling is done, by default values has index numbers(0,1,2...)
df = pd.DataFrame(mydata)
print(df)

print("\n After giving labels to each row\n")
df = pd.DataFrame(mydata, index = ["S1","S2","S3","S4"])
print(df)

df['Students']['S1']
print("\n printing a row using label \n" , df.loc["S2"])

   Students  Grades
0    sowmya     3.5
1   karnati     4.0
2    tharun     3.5
3  yoshitha     4.0

 After giving labels to each row

    Students  Grades
S1    sowmya     3.5
S2   karnati     4.0
S3    tharun     3.5
S4  yoshitha     4.0

 printing a row using label
 Students    karnati
Grades          4.0
Name: S2, dtype: object

In [6]:
#Series - we can access element by its label 
#1D array holds any type of data
#just like a column in a table

a = [1,2,3]

df= pd.Series(a, index=["x","y","z"])

print(df["y"])

2

In [25]:
# creating series using dictonary

course_credits = {"Predictive": 3 ,"PM":2 ,"Tech com": 1}
dict= pd.Series(course_credits)
print(dict)

pd.Series(dict, index = ["PM","Tech com"])

print(dict["PM"])

Predictive    3
PM            2
Tech com      1
dtype: int64
2

In [39]:
#loc in df return the specified rows from data table

groceries = {
    "vegetables": ['tomatoes','potatoes'], 
     "fruits": ['apple', 'grapes']
}

df = pd.DataFrame(groceries)

print("\n prints a series \n" , df.loc[1])
print("\n prints both rows and columns \n" ,df.loc[[0,1]])

 prints a series
 vegetables    potatoes
fruits          grapes
Name: 1, dtype: object

 prints both rows and columns
   vegetables  fruits
0   tomatoes   apple
1   potatoes  grapes

In [7]:
#loading files into data frame
#should mention r before giving path of file

#to_String returns all the rows from tha data

df = pd.read_csv(r"C:\Users\Pallempati Sowmya\Desktop\Practise_dataset.csv")
print(df.to_string())

      id  gender  age  hypertension  heart_disease ever_married      work_type Residence_type  avg_glucose_level   bmi   smoking_status  stroke
0   9046    Male   67             0              1          Yes        Private          Urban             228.69  36.6  formerly smoked       1
1  51676  Female   61             0              0          Yes  Self-employed          Rural             202.21   NaN     never smoked       1
2  31112    Male   80             0              1          Yes        Private          Rural             105.92  32.5     never smoked       1
3  60182  Female   49             0              0          Yes        Private          Urban             171.23  34.4           smokes       1
4   1665  Female   79             1              0          Yes  Self-employed          Rural             174.12  24.0     never smoked       1

In [9]:
#if there is a huge data set printing df return first 5 and last 5 rows in data table

print(df)

      id  gender  age  hypertension  heart_disease ever_married  \
0   9046    Male   67             0              1          Yes
1  51676  Female   61             0              0          Yes
2  31112    Male   80             0              1          Yes
3  60182  Female   49             0              0          Yes
4   1665  Female   79             1              0          Yes

       work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0        Private          Urban             228.69  36.6  formerly smoked
1  Self-employed          Rural             202.21   NaN     never smoked
2        Private          Rural             105.92  32.5     never smoked
3        Private          Urban             171.23  34.4           smokes
4  Self-employed          Rural             174.12  24.0     never smoked

   stroke
0       1
1       1
2       1
3       1
4       1

In [12]:
#checking system's maximum rows

print(pd.options.display.max_rows)

60

In [13]:
#if the DataFrame contains more than 60 rows, 
#the print(df) statement will return only the headers and the first and last 5 rows.

#we can change limit by mentioning a value.

pd.options.display.max_rows = 999

In [ ]:
#loading json file

js = pd.read_json("path of file/filename.json")